
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background-color: #0f4173;
      color: #fff;
      padding-top: 50px;
    }

    .logo {
      padding: 10px 0;
      text-align: center;
    }

    .menu {
      list-style-type: none;
      padding-left: 0;
    }

    .menu li {
      margin-bottom: 10px;
    }

    .menu a {
      display: block;
      padding: 10px;
      color: #fff;
      text-decoration: none;
    }

    .menu a:hover {
      background-color: #d81515;
    }

    .content {
      margin-left: 250px;
      padding: 20px;
    }

    .header {
      margin-bottom: 20px;
    }

    .card {
      margin-bottom: 20px;
    }

    form {
      margin-bottom: 20px;
    }
    .image1{
        height: 100px;
        width: 100px;
    }
.submenu {
    display: none;
    background-color: white; 
    padding-left: 20px;
}

.submenu li {
    list-style: none;
    margin-bottom: 5px;
}

.submenu a {
    color: black; 
    text-decoration: none;
}

input[type="checkbox"] {
    display: none;
}

.toggle-submenu {
    cursor: pointer;
    color:rgb(255, 255, 255); 
    font-size: 22px;
    background-color: rgb(28, 33, 91);
    width: 100%;
    /* width: 900px; */
    
}

input[type="checkbox"]:checked + .toggle-submenu + .submenu {
    display: block;
}

